// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

.books
  +display(flex)
  +flex-wrap(wrap)
  +justify-content(center)
  +align-items(baseline)
  
  .book
    padding: 1em
    width: 160px
    border-radius: 0.5em
    transition: all 0.2s ease-in-out
    text-align: center
    .cover 
      img
        box-shadow: 0 0 10px $shadow-color
      form
        cursor: pointer
    .title, .authors
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      a
        transition: all 0.2s ease-in-out
        text-decoration: none
        color: inherit
    .preview
      margin-top: 0.2em
      display: none
    
    &:hover
      background-color: transparentize( $gallery-background-color-primary, 0.3 )
      width: 200px
      box-shadow: 3px 3px 10px $shadow-color
      .cover
        position: relative
        display: inline-block
        width: 128px
        img
          box-shadow: none
        &:hover:after
          z-index: 100
          content: attr(data-overlay)
          display: block
          position: absolute
          bottom: 0.15em
          right: 0
          font-size: 20pt
          padding: 0.5em
          border-top-left-radius: 0.5em
          background-color: transparentize( $gallery-background-color-primary, 0.15 )
          text-shadow: $shadow-color
      .title, .authors
        white-space: normal
        overflow-y: auto
        a
          font-weight: bold
          color: $header-background-color-primary
          text-shadow: 2px 2px $shadow-color
      .preview
        display: block