$body-background-color-primary: #967D63
$body-background-color-secondary: darken( $body-background-color-primary, 20% )
$gallery-background-color-primary: #637C96
$gallery-background-color-secondary: darken( $gallery-background-color-primary, 20% )